<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WallegNFe.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WallegNFe.Properties.Settings>
      <setting name="WallegNFe_NfeRetRecepcao2_NfeRetRecepcao2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRetRecepcao2.asmx</value>
      </setting>
      <setting name="WallegNFe_NfeRecepcao2_NfeRecepcao2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRecepcao2.asmx</value>
      </setting>
      <setting name="WallegNFe_NfeInutilizacao2_NfeInutilizacao2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeInutilizacao2.asmx</value>
      </setting>
      <setting name="WallegNFe_NfeConsulta2_NfeConsulta2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeConsulta2.asmx</value>
      </setting>
      <setting name="WallegNFe_NfeStatusServico2_NfeStatusServico2"
        serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeStatusServico2.asmx</value>
      </setting>
      <setting name="WallegNFe_CadConsultaCadastro2_CadConsultaCadastro2"
        serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/CadConsultaCadastro2.asmx</value>
      </setting>
      <setting name="WallegNFe_RecepcaoEvento_RecepcaoEvento" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
      </setting>
      <setting name="WallegNFe_RecepcaoEvento2_RecepcaoEvento" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
      </setting>
    </WallegNFe.Properties.Settings>
  </applicationSettings>

  <add key="WallegNFe.Pasta.SchemaValidacao" value="C:\NFE\SchemaValidacao" />

</configuration>