<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WallegNFe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WallegNFe.Properties.Settings>
      <setting name="WallegNFe_NfeRetRecepcao2_NfeRetRecepcao2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRetRecepcao2.asmx</value>
      </setting>
      <setting name="WallegNFe_NfeRecepcao2_NfeRecepcao2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRecepcao2.asmx</value>
      </setting>
    </WallegNFe.Properties.Settings>
  </applicationSettings>

  <add key="WallegNFe.Pasta.SchemaValidacao" value="C:\NFE\SchemaValidacao" />
  
</configuration>